@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --pink: #FF046F;
    --violet: #C63BFA;
}

* {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #310e3d;;
}

*::selection {
    background: var(--pink);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #310e3d;
    width: 100%;
}

header {
    position: fixed;
    top: 0rem;
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding: 1rem 1rem;
    margin-bottom: 5%;
}

header .navbar ul {
    display: flex;
    align-items: right;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: var(--pink);
}

header .navbar ul li .active,
header .navbar ul li a:hover {
    color: var(--violet);
}

header {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
}

header .i {
    color: var(--pink);
    padding: 0 2rem;
}

header .fa-bars {
    font-size: 3rem;
    color: var(--pink);
    cursor: pointer;
    display: none;
}

main .title {
    color: white;
}

.title {
    text-align: center;
    margin-top: 30%;
    font-size: 2.5rem;
}

.footer {
    margin-top: 30%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.footer .icons {
    margin-bottom: 2%;
}

.footer a {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2;
}




/* media queries */

@media(max-width:768px) {
    html {
        font-size: 55%;
    }
    header .fa-bars {
        display: block;
    }
    header .navbar {
        position: fixed;
        top: 1rem;
        left: 0;
        width: 100%;
    }
    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }
    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }
    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }

    .title {
        text-align: center;
        margin-top: 90%;
        font-size: 1.5rem;
        position: static;
        margin-bottom: 10%;
    }

    .footer {
        margin-top: 20%;
        text-align: center;
        color: white;
        font-size: 1rem;
        margin-bottom: 2%;
        position: static;
    }
}

@media(max-width:440px) {

    header .navbar{
        position:fixed;
        margin-bottom: 90%;
    }

    .title {
        text-align: center;
        margin-top: 150%;
        font-size: 1rem;
        margin-bottom: 2%;
    }


    .footer {
        margin-top: 60%;
        text-align: center;
        color: white;
        font-size: 1rem;
        margin-bottom: 2%;
    }

    .footer .icons {
        margin-bottom: 3%;
    }
    
    .footer a {
        color: white;
        font-size: 1rem;
        margin-bottom: 2%;
    }
}

@media(max-width:240px) {

    header .navbar{
        position:fixed;
        margin-bottom: 90%;
    }

    .title {
        text-align: center;
        margin-top: 150%;
        padding-top: 25rem;
        font-size: 1rem;
        margin-bottom: 2%;
    }


    .footer {
        margin-top: 50%;
        text-align: center;
        color: white;
        font-size: 1rem;
        margin-bottom: 2%;
        display: block;
    }

    .footer .icons {
        margin-bottom: 3%;
    }
    
    .footer a {
        color: white;
        font-size: 1rem;
        margin-bottom: 2%;
        display: block;
    }
}


@media(max-width:128px) {

    header .navbar {
        position:fixed;
        margin-bottom: 90%;
        font-size: 0.5rem;
    }

}
