@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --pink: #FF046F;
    --violet: #C63BFA;
}

* {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #310e3d;;
}

*::selection {
    background: var(--pink);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    width: 100%;
    height: 500px;
}

body {
    background: #310e3d;

}

header {
    position: fixed;
    top: 0rem;
    display: flex;
    text-align: right;
    justify-content: space-between;
    padding: 1rem 1rem;
    height: 100px;
    margin-bottom: 100%;
}

header .navbar ul {
    display: flex;
    align-items: right;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: var(--pink);
}

header .navbar ul li .active,
header .navbar ul li a:hover {
    color: var(--violet);
}

header .navbar ul li a:hover {
    background: #fff;
    letter-spacing: .5rem;
}

header {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
}

header .i {
    color: var(--pink);
    padding: 0 2rem;
}

header .fa-bars {
    font-size: 3rem;
    color: var(--pink);
    cursor: pointer;
    display: none;
}

main {
    max-height: 100vh;
    width: 100vw;
}


main .title {
    color: white;
    margin-top: 45vh;
}

main .title:hover {
    letter-spacing: .5rem;
}

.title {
    text-align: center;
    font-size: 3rem;
}

.footer {
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin-top: 32vh;
    position: relative;
    padding: 0px;
    margin-bottom: 0%;
}

.footer .icons {
    margin-bottom: 20px;
}

.footer a {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-left: 2rem;
}

.footer a:hover {
    background: var(--pink);
    letter-spacing: .5rem;
}

.credit {
    text-align: center;
    font-size: 1.5rem;margin-bottom: 0px;
    padding: 0px;
}




/* media queries */

@media(max-width:768px) {

    html {
        font-size: 55%;
        overflow-x: hidden;
        width: 100%;
        height: 500px;
    }

    header .fa-bars {
        display: block;
    }
    header .navbar {
        position: fixed;
        top: 1rem;
        left: 0;
        width: 100%;
    }
    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }
    header .navbar ul li {
        margin: 1rem 0;
        text-align: center;
    }
    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }

    main .title {
        margin-top: 350px;
    }

    .title {
        text-align: center;
        font-size: 2rem;
        position: static;
    }

    .footer {
        font-size: 1em;
        margin-top: 25vh;
    }
}

@media(max-width:440px) {

    header .navbar{
        position:fixed;
        margin-bottom: 100px;
    }

    main .title {
        color: white;
        margin-top: 60vh;
        font-size: 1.5rem;
    }


    .footer .icons {
        margin-bottom: 3%;
    }
    
    .footer {
        font-size: 1em;
        margin-top: 24vh;
    }

    .credit {
        font-size: 1.5rem;
        margin-bottom: 0px;
    }
}

@media(max-width:325px) {
    .footer {
        font-size: 1em;
        margin-top: 21vh;
    }
}

@media(max-width:240px) {

    header .navbar{
        position:fixed;
    }

    .title {
        text-align: center;
        font-size: 1rem;
    }


    .footer {
        text-align: center;
        color: white;
        display: block;
        margin-top: 10vh;
    }

    .footer a {
        color: white;
        font-size: 1rem;
        display: block;
    }
}

@media(max-width:214px) {
    .footer {
        margin-top: 15vh;
    }

    main .title {
        color: white;
        margin-top: 55vh;
        font-size: 1.5rem;
    }
}

@media(max-width:212px) {
    .footer {
        margin-top: 10vh;
    }
}

@media(max-width:200px) {
    .footer {
        margin-top: 8vh;
    }
}


@media(max-width:128px) {

    header .navbar {
        position:fixed;
        font-size: 10%;
    }

}
