@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --pink: #FF046F;
    --violet: #310e3d;
    --white: #ffffff;
}

* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--violet);
    color: var(--white);
}

.main-container {
    margin-top: 2rem;
}

.main-content {
    margin-top: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

p {
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 1.5rem;
}

ul li {
    margin-left: 2rem;
    margin-right: 1rem;
    line-height: 1.5rem;
}

.secondary-content {
    margin-top: 1.5rem;
}

.secondary-content h2 {
    text-align: center;
}

.secondary-content p {
    margin: 1rem;
}

.code-preview {
    position: sticky;
}

pre{
    border: 3px solid #000;
    border-radius: 10px;
    display: inline-block;
    margin: 1rem;
    overflow-x: auto;
}

strong {
    color: var(--pink);
}
